/* start common style*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.btn:hover, .btn:focus, .btn.focus {
  text-decoration: none;
  outline: none; }

.modal {
  overflow-y: auto; }

a, button {
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out; }

:placeholder-shown::-webkit-input-placeholder {
  opacity: 1;
  color: #100f10; }

.clear {
  clear: both; }

.owl-carousel {
  direction: ltr; }

.customHr {
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid #eaeaea; }

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center; }

p {
  margin-bottom: 0; }

.toggleOpacity {
  opacity: 1 !important; }

.mr-18 {
  margin-right: 18px; }

.mr-27 {
  margin-right: 27px; }

.mt-20 {
  margin-top: 20px; }

.bgGray {
  background-color: #f2f2f2;
  border-top: 2px solid #e0e0e0; }

.lightGrayBg {
  background-color: #f7f7f7;
  padding: 25px 0 85px; }
  .lightGrayBg.guestGray {
    padding: 25px 0; }

.orangeBg {
  background-color: #ff7600; }

.whiteBg {
  background-color: #fff; }

.searchDiv {
  position: relative; }
  .searchDiv input {
    width: 335px;
    padding: 8px 45px 8px 25px;
    outline: none;
    background-color: #f5f5f5;
    font-size: 14px;
    color: #100f10;
    border-radius: 20px;
    border: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out; }
  .searchDiv a {
    padding: 0;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #100f10; }

.gradientBg {
  border-radius: 5px;
  background-image: linear-gradient(258deg, #ff7600 30%, #e23a7e);
  color: #fff;
  padding: 8px;
  font-size: 14px; }
  .gradientBg:hover {
    color: #100f10; }

.orangeBtn {
  background-color: #ff7600;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  padding: 5px 0;
  min-width: 150px;
  justify-content: center;
  font-size: 14px;
  border-radius: 4px; }
  .orangeBtn:hover {
    border-color: #ff7600;
    background-color: #fff;
    color: #ff7600; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.title {
  color: #100f10;
  font-weight: bold;
  font-size: 25px; }

.desc {
  color: #8e8e8e;
  font-size: 13px; }

.price {
  font-size: 12px;
  font-weight: bold; }
  .price span {
    font-weight: normal;
    margin-left: 5px;
    text-decoration: line-through; }

.courserBlock {
  background-color: #fff;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  max-width: 300px;
  overflow: hidden;
  max-height: 75px;
  height: 75px;
  width: 100%; }
  .courserBlock:hover {
    box-shadow: 1px 1px 11px 1px #dadada;
    -webkit-box-shadow: 1px 1px 11px 1px #dadada;
    -moz-box-shadow: 1px 1px 11px 1px #dadada;
    -o-box-shadow: 1px 1px 11px 1px #dadada; }
  .courserBlock .courseText {
    padding: 6px;
    flex: 2;
    height: 100%;
    justify-content: center; }
    .courserBlock .courseText p:first-child {
      font-weight: bold;
      font-size: 11px;
      color: #100f10;
      margin-bottom: 5px;
      max-height: 32px;
      overflow: hidden; }
    .courserBlock .courseText p:nth-child(2) {
      font-size: 11px;
      color: #100f10;
      margin-bottom: 2px; }
  .courserBlock .courseImg {
    width: 125px;
    height: 100%;
    flex: 1; }
    .courserBlock .courseImg img {
      width: 100%;
      height: 100%; }
  .courserBlock .progWidth {
    width: 100%;
    height: 5px; }

.startsBlock {
  font-size: 10px;
  margin: 7px 0 5px; }
  .startsBlock .stars {
    margin-right: 10px; }
    .startsBlock .stars i {
      color: #efce4a;
      font-size: 13px;
      margin: -1px; }
  .startsBlock span span {
    font-weight: bold;
    margin-right: 3px; }

.course {
  max-width: 250px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  overflow: hidden;
  display: block !important;
  color: #100f10 !important;
  max-height: 250px; }
  .course .courseName {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 3px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    max-height: 40px;
    overflow: hidden; }
  .course:hover {
    box-shadow: 1px 1px 11px 1px #dadada;
    -webkit-box-shadow: 1px 1px 11px 1px #dadada;
    -moz-box-shadow: 1px 1px 11px 1px #dadada;
    -o-box-shadow: 1px 1px 11px 1px #dadada; }
    .course:hover .courseName {
      text-decoration: underline; }
  .course .imgBlock {
    height: 115px;
    overflow: hidden; }
    .course .imgBlock img {
      width: 100%;
      height: 100%; }
  .course .instructor {
    font-size: 13px;
    margin-bottom: 3px; }

.positionR {
  position: relative; }

.arrowBlock {
  position: absolute;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #fffcfc);
  width: 28%;
  height: 20px;
  z-index: 1; }
  .arrowBlock .arrow {
    width: 50px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    background-color: #ff7600;
    cursor: pointer;
    display: block;
    transition: all .5s ease-in-out;
    border: 2px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    margin: auto; }
    .arrowBlock .arrow:hover {
      background-color: #FFF;
      color: #ff7600;
      border: 2px solid #ff7600;
      display: block; }

/* end common style*/
/* start loader */
.layer-preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center; }
  .layer-preloader img {
    width: 200px; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* end loader */
body {
  margin: 0;
  padding: 60px 0 0 0;
  font-family: 'Rubik', sans-serif;
  direction: ltr;
  text-align: left;
  overflow: hidden; }

/* Start Header */
header {
  padding: 0;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 2;
  height: 60px;
  display: flex;
  top: 0;
  align-items: center;
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05); }
  header .mobileSearch {
    display: none; }
  header .overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
    transition: all .3s ease-in-out;
    transform: scaleX(0);
    right: 0;
    left: 0;
    transform-origin: right; }
  header .toggle {
    display: none; }
    header .toggle .fa {
      cursor: pointer;
      font-size: 25px; }
  header img.logo {
    width: 85px; }
  header .catLink {
    color: #100f10;
    font-size: 14px;
    position: relative; }
    header .catLink ul {
      visibility: hidden;
      opacity: 0;
      margin: 0;
      padding: 0;
      width: 215px;
      position: absolute;
      left: 0px;
      background: #fff;
      z-index: 99;
      transform: translate(0, 20px);
      transition: all 0.2s ease-out; }
      header .catLink ul:after {
        bottom: 100%;
        left: 20%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 6px;
        margin-left: -6px; }
      header .catLink ul li {
        display: block;
        float: none;
        background: none;
        margin: 0 0 10px;
        padding: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out; }
        header .catLink ul li:last-child {
          margin: 0; }
        header .catLink ul li a {
          font-size: 12px;
          font-weight: normal;
          display: flex;
          color: #100f10;
          align-items: center;
          justify-content: space-between;
          text-transform: capitalize; }
          header .catLink ul li a:hover {
            font-weight: bold; }
          header .catLink ul li a img {
            width: 15px;
            height: 15px;
            margin-right: 10px; }
        header .catLink ul li:hover > a {
          font-weight: bold; }
        header .catLink ul li:hover > ul {
          visibility: visible;
          opacity: 1;
          transform: translate(45px, 0); }
      header .catLink ul.sub-menu {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px; }
        header .catLink ul.sub-menu ul {
          left: 169px;
          top: 0px;
          visibility: hidden;
          opacity: 0;
          transform: translate(45px, 20px);
          transition: all 0.2s ease-out;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          background-color: #fafafa;
          padding: 20px;
          border-radius: 10px; }
          header .catLink ul.sub-menu ul:after {
            content: none; }
          header .catLink ul.sub-menu ul:hover {
            visibility: visible;
            opacity: 1;
            transform: translate(45px, 0); }
    header .catLink:hover {
      font-weight: bold;
      cursor: pointer; }
      header .catLink:hover .sub-menu {
        visibility: visible;
        opacity: 1;
        transform: translate(0, 12px); }
    header .catLink span {
      text-transform: capitalize; }
  header .auth {
    display: flex;
    background-color: #e23a7e;
    overflow: hidden;
    border: 1px solid #e23a7e;
    border-radius: 5px; }
    header .auth a {
      font-size: 13px;
      text-transform: capitalize;
      padding: 8px 0;
      min-width: 70px;
      justify-content: center;
      align-items: center; }
      header .auth a:first-child {
        background-color: #fff;
        color: #e23a7e;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
      header .auth a:last-child {
        background-color: #e23a7e;
        color: #fff; }
  header .cartDiv {
    border-width: 0px 2px;
    border-color: #f5f5f5;
    border-style: solid;
    color: #100f10;
    display: flex;
    padding: 0 20px; }
    header .cartDiv .line {
      border: 1px solid #f5f5f5;
      width: 1px;
      height: 30px; }
    header .cartDiv img.cartImg {
      width: 17px; }
    header .cartDiv a.twitter:hover {
      box-shadow: 0px 1px 12px #1da1f2;
      -webkit-box-shadow: 0px 1px 12px #1da1f2;
      -moz-box-shadow: 0px 1px 12px #1da1f2;
      -o-box-shadow: 0px 1px 12px #1da1f2; }
    header .cartDiv a.cart:hover {
      box-shadow: 0px 1px 12px #ff7600;
      -webkit-box-shadow: 0px 1px 12px #ff7600;
      -moz-box-shadow: 0px 1px 12px #ff7600;
      -o-box-shadow: 0px 1px 12px #ff7600; }
    header .cartDiv a i.fas.fa-chevron-down {
      font-size: 14px;
      margin-left: 5px; }
    header .cartDiv a i.far.fa-heart {
      font-size: 15px;
      color: #100f10; }
    header .cartDiv a .bell {
      width: 14px; }
    header .cartDiv a.profilePic {
      width: 30px;
      height: 30px; }
      header .cartDiv a.profilePic img {
        border-radius: 50%; }
  header .flagImg img {
    width: 18px; }

/* end header */
/* start Modal */
#loginModal .modal-content, #signUpModal .modal-content {
  padding: 25px; }
  #loginModal .modal-content .modal-header, #signUpModal .modal-content .modal-header {
    padding: 0 0 20px; }
    #loginModal .modal-content .modal-header .close img, #signUpModal .modal-content .modal-header .close img {
      height: 27px;
      width: 27px; }
    #loginModal .modal-content .modal-header h5, #signUpModal .modal-content .modal-header h5 {
      color: #100f10;
      font-weight: bold;
      font-size: 20px; }
  #loginModal .modal-content .modal-body, #signUpModal .modal-content .modal-body {
    padding: 20px 0 0; }
    #loginModal .modal-content .modal-body form, #signUpModal .modal-content .modal-body form {
      margin-bottom: 20px; }
      #loginModal .modal-content .modal-body form .fullName .form-group, #signUpModal .modal-content .modal-body form .fullName .form-group {
        width: 49%;
        margin-bottom: 1rem !important; }
      #loginModal .modal-content .modal-body form .form-group .form-control, #signUpModal .modal-content .modal-body form .form-group .form-control {
        border-radius: 7px;
        height: 45px;
        font-size: 14px;
        border: 1px solid #d6d6d6; }
        #loginModal .modal-content .modal-body form .form-group .form-control:focus, #signUpModal .modal-content .modal-body form .form-group .form-control:focus {
          background-color: #fff;
          outline: 0;
          box-shadow: none;
          border: 1px solid #d6d6d6; }
      #loginModal .modal-content .modal-body form .form-group:last-child, #signUpModal .modal-content .modal-body form .form-group:last-child {
        margin-bottom: 20px; }
      #loginModal .modal-content .modal-body form .orangeBtn, #signUpModal .modal-content .modal-body form .orangeBtn {
        font-size: 13px;
        padding: 8px; }
      #loginModal .modal-content .modal-body form .forget, #signUpModal .modal-content .modal-body form .forget {
        font-size: 14px;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out; }
        #loginModal .modal-content .modal-body form .forget:hover, #signUpModal .modal-content .modal-body form .forget:hover {
          text-decoration: underline; }
      #loginModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn), #signUpModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
        border-radius: 7px;
        height: 45px;
        font-size: 14px; }
        #loginModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder, #loginModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:active, #loginModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:focus,
        #loginModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:hover, #signUpModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder, #signUpModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:active, #signUpModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:focus,
        #signUpModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:hover {
          background: #fff;
          color: #1c1b1c;
          font-size: 14px;
          height: 100%;
          border: 1px solid #d6d6d6;
          box-shadow: none;
          outline: 0 !important; }
          #loginModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder .filter-option-inner, #loginModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:active .filter-option-inner, #loginModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:focus .filter-option-inner,
          #loginModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:hover .filter-option-inner, #signUpModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder .filter-option-inner, #signUpModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:active .filter-option-inner, #signUpModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:focus .filter-option-inner,
          #signUpModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle.bs-placeholder:hover .filter-option-inner {
            height: 100%;
            align-items: center;
            display: flex; }
        #loginModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu, #signUpModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu {
          padding: 0; }
          #loginModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu li, #signUpModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu li {
            border-bottom: 1px solid #d6d6d6; }
            #loginModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu li:last-child, #signUpModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu li:last-child {
              border: 0; }
            #loginModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu li a, #signUpModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu li a {
              padding: 10px; }
              #loginModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu li a span, #signUpModal .modal-content .modal-body form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu li a span {
                font-weight: normal; }
    #loginModal .modal-content .modal-body a, #signUpModal .modal-content .modal-body a {
      color: #100f10;
      font-size: 13px; }
      #loginModal .modal-content .modal-body a span, #signUpModal .modal-content .modal-body a span {
        font-weight: bold;
        margin-left: 5px; }
    #loginModal .modal-content .modal-body .blackText, #signUpModal .modal-content .modal-body .blackText {
      font-size: 14px;
      color: #100f10;
      font-weight: bold;
      text-align: center;
      margin: 20px 0; }
    #loginModal .modal-content .modal-body .socialBtns, #signUpModal .modal-content .modal-body .socialBtns {
      margin-bottom: 25px; }
      #loginModal .modal-content .modal-body .socialBtns .orangeBtn, #signUpModal .modal-content .modal-body .socialBtns .orangeBtn {
        min-width: unset;
        width: 140px;
        color: #fff;
        padding: 8px;
        border: 0; }
        #loginModal .modal-content .modal-body .socialBtns .orangeBtn img, #signUpModal .modal-content .modal-body .socialBtns .orangeBtn img {
          width: 15px;
          height: 15px;
          margin-right: 5px; }
        #loginModal .modal-content .modal-body .socialBtns .orangeBtn.google, #signUpModal .modal-content .modal-body .socialBtns .orangeBtn.google {
          background-color: #e24733; }
          #loginModal .modal-content .modal-body .socialBtns .orangeBtn.google:hover, #signUpModal .modal-content .modal-body .socialBtns .orangeBtn.google:hover {
            box-shadow: 0px 1px 12px #e2473396;
            -webkit-box-shadow: 0px 1px 12px #e2473396;
            -moz-box-shadow: 0px 1px 12px #e2473396;
            -o-box-shadow: 0px 1px 12px #e2473396; }
        #loginModal .modal-content .modal-body .socialBtns .orangeBtn.twitter, #signUpModal .modal-content .modal-body .socialBtns .orangeBtn.twitter {
          background-color: #00b7d8; }
          #loginModal .modal-content .modal-body .socialBtns .orangeBtn.twitter:hover, #signUpModal .modal-content .modal-body .socialBtns .orangeBtn.twitter:hover {
            box-shadow: 0px 1px 12px #00b7d875;
            -webkit-box-shadow: 0px 1px 12px #00b7d875;
            -moz-box-shadow: 0px 1px 12px #00b7d875;
            -o-box-shadow: 0px 1px 12px #00b7d875; }
        #loginModal .modal-content .modal-body .socialBtns .orangeBtn.linkedIn, #signUpModal .modal-content .modal-body .socialBtns .orangeBtn.linkedIn {
          background-color: #2c2e65; }
          #loginModal .modal-content .modal-body .socialBtns .orangeBtn.linkedIn:hover, #signUpModal .modal-content .modal-body .socialBtns .orangeBtn.linkedIn:hover {
            box-shadow: 0px 1px 12px #2c2e659e;
            -webkit-box-shadow: 0px 1px 12px #2c2e659e;
            -moz-box-shadow: 0px 1px 12px #2c2e659e;
            -o-box-shadow: 0px 1px 12px #2c2e659e; }
    #loginModal .modal-content .modal-body .haveAcc, #signUpModal .modal-content .modal-body .haveAcc {
      font-size: 14px;
      justify-content: center;
      margin-top: 20px;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out; }
      #loginModal .modal-content .modal-body .haveAcc:hover, #signUpModal .modal-content .modal-body .haveAcc:hover {
        text-decoration: underline; }
      #loginModal .modal-content .modal-body .haveAcc.signingUp, #signUpModal .modal-content .modal-body .haveAcc.signingUp {
        display: flex; }
        #loginModal .modal-content .modal-body .haveAcc.signingUp a, #signUpModal .modal-content .modal-body .haveAcc.signingUp a {
          display: inline-block; }
          #loginModal .modal-content .modal-body .haveAcc.signingUp a span, #signUpModal .modal-content .modal-body .haveAcc.signingUp a span {
            color: #ff7600;
            text-decoration: underline;
            font-weight: normal;
            margin: 0 5px; }
        #loginModal .modal-content .modal-body .haveAcc.signingUp:hover, #signUpModal .modal-content .modal-body .haveAcc.signingUp:hover {
          text-decoration: none; }

/* end Modal */
/* start categories */
.categoriesLinks {
  padding: 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .categoriesLinks li {
    margin-right: 18px;
    margin-bottom: 10px; }
    .categoriesLinks li.active a {
      color: #100f10;
      font-weight: bold; }
      .categoriesLinks li.active a:before {
        position: absolute;
        content: '';
        height: 2px;
        background: #ff7600;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 15px;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out; }
    .categoriesLinks li a {
      position: relative;
      padding: 0 0 6px;
      font-size: 13px;
      text-transform: capitalize;
      color: #100f10;
      font-weight: normal;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out; }
      .categoriesLinks li a:before {
        position: absolute;
        content: '';
        height: 2px;
        background: #ff7600;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0px;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out; }
      .categoriesLinks li a:hover:before {
        width: 20px; }
      .categoriesLinks li a:hover {
        font-weight: bold; }

/* end categories */
/*start slider bg*/
.sliderBg {
  position: relative;
  min-height: 300px;
  background: url(../img/slider.png) no-repeat center center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px; }
  .sliderBg.guestBg {
    background: url(../img/bg.png) no-repeat center center;
    min-height: 370px;
    justify-content: center;
    margin-bottom: 20px; }
    .sliderBg.guestBg .sliderText {
      margin-right: 0;
      margin-left: 140px; }
      .sliderBg.guestBg .sliderText .blackText {
        font-size: 15px;
        max-width: 440px; }
    .sliderBg.guestBg .searchDiv input {
      width: 100%;
      background-color: transparent;
      border: 1px solid #100f10; }
    .sliderBg.guestBg #clockdiv {
      display: flex;
      align-items: center;
      margin-top: 20px; }
      .sliderBg.guestBg #clockdiv .count {
        display: inline-block;
        text-align: center; }
        .sliderBg.guestBg #clockdiv .count .smalltext {
          font-size: 12px;
          font-weight: bold;
          color: #100f10;
          text-transform: capitalize;
          margin-top: 5px; }
        .sliderBg.guestBg #clockdiv .count span {
          width: 55px;
          height: 65px;
          border-radius: 10px;
          background-image: linear-gradient(142deg, var(--pink) 8%, var(--orange) 97%);
          display: block;
          line-height: 65px;
          color: #fff;
          font-size: 22px; }
      .sliderBg.guestBg #clockdiv .colMark {
        margin: 0 10px;
        font-size: 30px;
        margin-top: -20px; }
  .sliderBg .sliderText {
    margin-right: 145px; }
    .sliderBg .sliderText p.titleText {
      color: #100f10;
      font-weight: bold;
      font-size: 35px;
      text-transform: uppercase; }
      .sliderBg .sliderText p.titleText span {
        color: #e23a7e; }
    .sliderBg .sliderText p.blackText {
      color: #100f10;
      font-weight: bold;
      font-size: 13px; }
    .sliderBg .sliderText p.grayText {
      color: #8e8e8e;
      font-size: 13px;
      margin: 10px 0 15px; }
    .sliderBg .sliderText .gradientBg {
      font-size: 13px;
      padding: 8px;
      width: 160px;
      justify-content: center; }

/*end slider bg*/
/* start my courses */
.myCourses {
  border-radius: 10px;
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 15px 25px;
  margin: 25px 0; }
  .myCourses .hiImg {
    width: 30px;
    height: 30px; }
  .myCourses .welcome {
    margin-left: 15px; }
    .myCourses .welcome p:first-child {
      font-weight: bold;
      font-size: 16px;
      color: #100f10; }
    .myCourses .welcome p:last-child {
      font-size: 13px;
      color: #8e8e8e; }
  .myCourses .courserBlock {
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.12); }
  .myCourses .coursesLink {
    color: #100f10;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    font-size: 14px; }
    .myCourses .coursesLink:hover {
      color: #e23a7e; }
    .myCourses .coursesLink i {
      margin-left: 5px; }

/* end my courses */
/*start recommended*/
.recommended {
  padding: 20px 0; }
  .recommended .viewAll {
    color: #100f10;
    font-size: 15px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out; }
    .recommended .viewAll i {
      margin-left: 5px; }
    .recommended .viewAll:hover {
      color: #ff7600; }
  .recommended .nav-pills {
    margin-top: 15px; }
    .recommended .nav-pills .nav-item {
      margin-right: 30px; }
      .recommended .nav-pills .nav-item .nav-link {
        color: #100f10;
        font-weight: normal;
        position: relative;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        padding: 0 0 3px 0;
        border: unset;
        border-radius: 0;
        text-transform: capitalize;
        background-color: transparent;
        font-size: 15px; }
        .recommended .nav-pills .nav-item .nav-link:before {
          position: absolute;
          content: '';
          height: 2px;
          background: #ff7600;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 0;
          -webkit-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out; }
        .recommended .nav-pills .nav-item .nav-link.active, .recommended .nav-pills .nav-item .nav-link:hover {
          color: #ff7600;
          font-weight: bold; }
          .recommended .nav-pills .nav-item .nav-link.active:before, .recommended .nav-pills .nav-item .nav-link:hover:before {
            position: absolute;
            content: '';
            height: 2px;
            background: #ff7600;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 15px;
            -webkit-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out; }

/*end recommended*/
/* start map courses*/
.mapCourses {
  padding: 20px 0; }
  .mapCourses #map {
    height: 300px;
    width: 70%; }
  .mapCourses .courses {
    position: relative;
    width: 28%;
    height: 300px;
    overflow: hidden; }
    .mapCourses .courses .slick-slide {
      display: flex;
      justify-content: center; }
      .mapCourses .courses .slick-slide .courserBlock {
        max-height: 93px;
        height: 93px;
        color: #100f10;
        margin-bottom: 8px; }
        .mapCourses .courses .slick-slide .courserBlock:nth-child(3) {
          margin-bottom: 0; }
        .mapCourses .courses .slick-slide .courserBlock .courseImg {
          width: 135px; }
        .mapCourses .courses .slick-slide .courserBlock .startsBlock {
          margin: 7px 0 0px; }
    .mapCourses .courses i.fas.fa-chevron-up.slick-arrow {
      display: none !important; }
    .mapCourses .courses i.fas.fa-chevron-down.slick-arrow {
      width: 50px;
      height: 25px;
      line-height: 25px;
      color: #fff;
      background-color: #ff7600;
      cursor: pointer;
      display: block;
      transition: all .5s ease-in-out;
      border: 2px solid transparent;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      text-align: center;
      margin: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1; }
      .mapCourses .courses i.fas.fa-chevron-down.slick-arrow:hover {
        background-color: #FFF;
        color: #ff7600;
        border: 2px solid #ff7600;
        display: block; }

/* end map courses*/
/* start learn next */
.learnNext {
  padding: 20px 0;
  position: relative; }
  .learnNext .arrowBlock {
    bottom: 29px;
    background: linear-gradient(97deg, rgba(255, 255, 255, 0), #fffcfc);
    width: 42px;
    height: 68%;
    z-index: 2;
    margin: auto; }
  .learnNext .desc a {
    color: #100f10;
    text-decoration: underline;
    display: inline;
    font-weight: bold; }
  .learnNext #owl-demo1, .learnNext #owl-demo2, .learnNext #owl-demo3 {
    margin-top: 5px; }
    .learnNext #owl-demo1 .item, .learnNext #owl-demo2 .item, .learnNext #owl-demo3 .item {
      position: relative;
      width: 165px;
      padding: 10px 0; }
      .learnNext #owl-demo1 .item .course, .learnNext #owl-demo2 .item .course, .learnNext #owl-demo3 .item .course {
        max-width: 100%; }
        .learnNext #owl-demo1 .item .course .courseName, .learnNext #owl-demo2 .item .course .courseName, .learnNext #owl-demo3 .item .course .courseName {
          font-size: 11px; }
    .learnNext #owl-demo1 .owl-nav, .learnNext #owl-demo2 .owl-nav, .learnNext #owl-demo3 .owl-nav {
      display: block; }
      .learnNext #owl-demo1 .owl-nav .owl-prev, .learnNext #owl-demo1 .owl-nav .owl-next, .learnNext #owl-demo2 .owl-nav .owl-prev, .learnNext #owl-demo2 .owl-nav .owl-next, .learnNext #owl-demo3 .owl-nav .owl-prev, .learnNext #owl-demo3 .owl-nav .owl-next {
        width: 25px;
        height: 50px;
        line-height: 50px;
        color: #fff;
        background-color: #ff7600;
        cursor: pointer;
        display: block;
        border: 2px solid transparent;
        text-align: center;
        margin: auto;
        font-size: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; }
        .learnNext #owl-demo1 .owl-nav .owl-prev:hover, .learnNext #owl-demo1 .owl-nav .owl-next:hover, .learnNext #owl-demo2 .owl-nav .owl-prev:hover, .learnNext #owl-demo2 .owl-nav .owl-next:hover, .learnNext #owl-demo3 .owl-nav .owl-prev:hover, .learnNext #owl-demo3 .owl-nav .owl-next:hover {
          background-color: #FFF;
          color: #ff7600;
          border: 2px solid #ff7600;
          display: block; }
      .learnNext #owl-demo1 .owl-nav .owl-next, .learnNext #owl-demo2 .owl-nav .owl-next, .learnNext #owl-demo3 .owl-nav .owl-next {
        right: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; }
      .learnNext #owl-demo1 .owl-nav .owl-prev, .learnNext #owl-demo2 .owl-nav .owl-prev, .learnNext #owl-demo3 .owl-nav .owl-prev {
        left: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: none; }

/* end learn next */
/* start register */
.register {
  justify-content: space-between;
  position: relative;
  height: 210px; }
  .register .regText {
    margin: 0 auto; }
    .register .regText .title {
      margin-bottom: 6px;
      font-size: 23px; }
    .register .regText .desc {
      font-size: 13px;
      color: #524e50; }
  .register img {
    width: 185px;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0; }

/* end register */
/* start footLinks */
.footLinks {
  padding: 30px 0; }
  .footLinks div a {
    color: #524e50;
    font-size: 13px; }
    .footLinks div a:first-child {
      margin-bottom: 15px; }
    .footLinks div a:hover {
      color: #ff7600; }
  .footLinks div button {
    background-color: transparent;
    min-width: 150px;
    border: 1px solid #e5e5e5;
    font-size: 13px;
    box-shadow: unset !important;
    outline: none !important; }
    .footLinks div button:after {
      border: 0;
      display: inline-block;
      margin-left: .255em;
      vertical-align: .255em;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f078"; }
    .footLinks div button img {
      width: 18px;
      margin-right: 10px; }
    .footLinks div button.dropdown-toggle:focus, .footLinks div button .bootstrap-select > select.mobile-device:focus + .dropdown-toggle, .footLinks div button.btn-light:not(:disabled):not(.disabled).active:focus, .footLinks div button.btn-light:not(:disabled):not(.disabled):active:focus, .footLinks div button.show > .btn-light.dropdown-toggle:focus {
      box-shadow: unset !important;
      outline: none !important; }
  .footLinks div .dropdown-item.active, .footLinks div .dropdown-item:active {
    background-color: #f8f9fa;
    color: #ff7600; }

/* end footLinks */
/* start footer */
.footer {
  padding: 20px 0;
  font-size: 14px; }
  .footer .logo {
    width: 90px;
    margin-right: 20px; }
  .footer .desc {
    color: #b4b4b4; }
  .footer ul li {
    position: relative;
    margin-right: 15px; }
    .footer ul li:after {
      content: '-';
      position: absolute;
      right: -11px;
      top: 0; }
    .footer ul li:last-child {
      margin-right: 0; }
      .footer ul li:last-child:after {
        content: none; }
    .footer ul li a {
      color: #100f10;
      text-transform: capitalize;
      font-size: 13px; }
      .footer ul li a:hover {
        color: #ff7600; }

/* end footer */
/* start personalization */
.personalization {
  position: relative;
  min-height: 600px;
  background: url(../img/eventsBg.png) no-repeat center center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 95px; }
  .personalization .title {
    margin-bottom: 10px;
    text-align: center; }
  .personalization .desc {
    margin-bottom: 20px;
    font-size: 15px; }

/* end personalization */
/* start top cat */
.topCat {
  padding: 20px 0; }
  .topCat .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .topCat .categories .cat {
      align-items: flex-start;
      color: #100f10;
      border-radius: 10px;
      background-color: #ffffff;
      width: 170px;
      height: 160px;
      margin-top: 20px;
      padding: 15px;
      transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out; }
      .topCat .categories .cat:hover {
        box-shadow: 0px 1px 12px #fbb20e75;
        -webkit-box-shadow: 0px 1px 12px #fbb20e75;
        -moz-box-shadow: 0px 1px 12px #fbb20e75;
        -o-box-shadow: 0px 1px 12px #fbb20e75; }
      .topCat .categories .cat img {
        width: 45px;
        height: 45px;
        margin-bottom: 15px; }
      .topCat .categories .cat h4 {
        font-size: 13px;
        font-weight: bold;
        text-transform: capitalize;
        transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out; }
      .topCat .categories .cat div {
        color: #524e50;
        font-size: 12px; }
        .topCat .categories .cat div span {
          color: #ff7600; }
      .topCat .categories .cat.viewAll {
        border: 1px solid #ff7600;
        align-items: flex-end;
        position: relative;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        background: #ff7600;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s; }
        .topCat .categories .cat.viewAll:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #fff;
          -webkit-transform: scaleY(1);
          transform: scaleY(1);
          -webkit-transform-origin: 50%;
          transform-origin: 50%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
          border-radius: 10px; }
        .topCat .categories .cat.viewAll h4 {
          font-size: 13px;
          font-weight: normal;
          text-transform: capitalize; }
        .topCat .categories .cat.viewAll i {
          margin-bottom: 7px; }
        .topCat .categories .cat.viewAll:hover h4, .topCat .categories .cat.viewAll:hover i {
          color: #fff; }
        .topCat .categories .cat.viewAll:hover:before {
          -webkit-transform: scaleY(0);
          transform: scaleY(0); }

/* end top cat */
/* start institutes */
.institutesContainer {
  padding: 20px 0; }
  .institutesContainer .institutes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; }
    .institutesContainer .institutes .courserBlock {
      max-height: 150px;
      height: 150px;
      color: #100f10;
      max-width: none;
      width: 49%;
      margin-bottom: 20px; }
      .institutesContainer .institutes .courserBlock .courseText {
        padding: 10px 15px; }
        .institutesContainer .institutes .courserBlock .courseText p:first-child {
          font-size: 14px; }
        .institutesContainer .institutes .courserBlock .courseText p:nth-child(2) {
          font-size: 13px; }
          .institutesContainer .institutes .courserBlock .courseText p:nth-child(2) span {
            color: #ff7600; }
      .institutesContainer .institutes .courserBlock .courseImg {
        width: 135px; }
      .institutesContainer .institutes .courserBlock .startsBlock {
        margin: 7px 0 0px; }
      .institutesContainer .institutes .courserBlock .info {
        margin: 10px 0;
        font-size: 12px; }
        .institutesContainer .institutes .courserBlock .info div {
          display: flex;
          justify-content: center;
          align-items: center; }
          .institutesContainer .institutes .courserBlock .info div:nth-child(2) {
            margin: 0 20px; }
          .institutesContainer .institutes .courserBlock .info div img {
            width: 15px;
            height: 15px;
            margin-right: 7px; }

/* end institutes */
/*start scroll top */
#scroll-top {
  width: 40px;
  height: 40px;
  line-height: 37px;
  color: #fff;
  background-color: #ff7600;
  text-align: center;
  position: fixed;
  bottom: 10px;
  z-index: 3;
  cursor: pointer;
  display: none;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  border: 2px solid transparent;
  left: 15px; }
  #scroll-top:hover {
    background-color: #FFF;
    color: #ff7600;
    border: 2px solid #ff7600; }

/*end scroll-top*/
/* Start Media Query */
@media (max-width: 767px) {
  body .title {
    font-size: 18px; }
  body .desc {
    font-size: 11px; }
  body .startsBlock {
    font-size: 8px; }
    body .startsBlock .stars i {
      font-size: 11px; }
  body .lightGrayBg {
    padding: 25px 0; }
    body .lightGrayBg.guestGray {
      padding: 15px 0; }
  body header .menuBar .toggle {
    display: block;
    color: #ff7600;
    font-size: 30px;
    text-align: right;
    justify-content: space-between; }
  body header .menuBar a {
    color: #100f10; }
    body header .menuBar a.cart {
      margin-right: 10px; }
  body header .mobileSearch {
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    align-items: center;
    height: 100%;
    background: #fff;
    padding: 0 10px;
    display: none; }
    body header .mobileSearch .searchContainer {
      flex: 1; }
      body header .mobileSearch .searchContainer input {
        border: 0;
        font-size: 12px;
        width: 80%;
        outline: none; }
      body header .mobileSearch .searchContainer i.fas.fa-search {
        margin-right: 10px; }
    body header .mobileSearch a {
      color: #100f10; }
      body header .mobileSearch a i.fas.fa-times-circle {
        color: #e23a7e; }
  body header .menu {
    margin: 0;
    padding: 15px;
    background-color: #fff;
    position: fixed;
    width: 260px;
    height: 100%;
    top: 0;
    transform: scaleX(1);
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    text-align: left;
    left: -100%;
    transform-origin: left;
    border-radius: 0;
    display: block !important;
    overflow: auto; }
    body header .menu.ulDir {
      left: 0; }
    body header .menu .gradientBg {
      padding: 5px 10px;
      font-size: 13px;
      margin: 0 0 10px 0;
      display: inline-block; }
    body header .menu .user {
      display: flex;
      align-items: center;
      color: #100f10;
      margin-bottom: 15px;
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 15px; }
      body header .menu .user img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-right: 20px;
        box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.18);
        -o-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.18); }
      body header .menu .user p {
        font-size: 15px; }
      body header .menu .user a {
        color: #100f10; }
      body header .menu .user.userAuth {
        justify-content: space-between; }
        body header .menu .user.userAuth a {
          color: #100f10;
          font-size: 15px;
          border: 1px solid #c7c7c7;
          border-radius: 5px;
          padding: 3px 0;
          justify-content: center;
          width: 45%; }
    body header .menu .catLink {
      margin: 0 0 15px 0;
      color: #777b80; }
      body header .menu .catLink i {
        margin-right: 8px !important;
        font-size: 13px; }
      body header .menu .catLink ul {
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        position: relative;
        display: none; }
        body header .menu .catLink ul ul {
          left: 0;
          box-shadow: none;
          transform: initial; }
          body header .menu .catLink ul ul:hover {
            transform: initial; }
      body header .menu .catLink li:hover > ul {
        visibility: visible;
        opacity: 1;
        position: relative;
        transform: initial; }
      body header .menu .catLink:hover .sub-menu {
        display: block;
        margin-bottom: 30px; }
  body .sliderBg {
    min-height: unset;
    height: 150px; }
  body .myCourses div {
    justify-content: center !important; }
    body .myCourses div > div.hi {
      margin-bottom: 15px; }
      body .myCourses div > div.hi .welcome p:first-child {
        font-size: 14px; }
      body .myCourses div > div.hi .welcome p:last-child {
        font-size: 12px; }
    body .myCourses div > div .courserBlock {
      margin-right: 0;
      margin-bottom: 15px; }
  body .recommended .nav-pills .nav-item {
    margin-right: 12px;
    margin-bottom: 5px; }
    body .recommended .nav-pills .nav-item .nav-link {
      padding: 0 0 2px 0;
      font-size: 13px; }
  body .recommended .viewAll {
    font-size: 13px; }
  body .recommended .course {
    max-width: none;
    max-height: none;
    width: 48%;
    margin-bottom: 15px; }
    body .recommended .course .imgBlock {
      height: 85px; }
    body .recommended .course .p-3 {
      padding: 5px !important; }
      body .recommended .course .p-3 .courseName, body .recommended .course .p-3 .price {
        font-size: 10px; }
      body .recommended .course .p-3 .instructor {
        font-size: 12px; }
  body .mapCourses > div {
    display: block !important; }
    body .mapCourses > div #map {
      height: 200px;
      width: 100%;
      margin-bottom: 20px; }
    body .mapCourses > div .arrowBlock {
      width: 100%;
      background: linear-gradient(360deg, rgba(255, 255, 255, 0), #fffcfc); }
    body .mapCourses > div .courses {
      width: 100%; }
      body .mapCourses > div .courses .courserBlock {
        max-height: none !important;
        height: 85px !important;
        margin-bottom: 10px !important; }
      body .mapCourses > div .courses i.fas.fa-chevron-down.slick-arrow {
        width: 40px;
        font-size: 12px; }
  body #owl-demo1 .item, body #owl-demo2 .item, body #owl-demo3 .item {
    width: 85% !important;
    margin: auto; }
  body #owl-demo1 .owl-nav .owl-prev, body #owl-demo1 .owl-nav .owl-next, body #owl-demo2 .owl-nav .owl-prev, body #owl-demo2 .owl-nav .owl-next, body #owl-demo3 .owl-nav .owl-prev, body #owl-demo3 .owl-nav .owl-next {
    height: 40px !important;
    line-height: 40px !important;
    font-size: 12px !important; }
  body .register {
    height: auto;
    display: block !important;
    padding: 30px 0 20px; }
    body .register .regText {
      text-align: center; }
      body .register .regText .title {
        font-size: 18px;
        margin-bottom: 15px; }
      body .register .regText .desc {
        font-size: 12px;
        margin-bottom: 15px; }
    body .register .orangeBtn {
      min-width: unset;
      width: 125px;
      margin: auto;
      font-size: 13px; }
  body .footLinks {
    display: block !important; }
    body .footLinks > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px; }
      body .footLinks > div:last-child {
        margin-bottom: 0; }
  body .footer {
    flex-wrap: wrap;
    justify-content: center !important; }
    body .footer > div {
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px; }
      body .footer > div .logo {
        width: 80px; }
    body .footer ul li a {
      font-size: 12px; }
  body .personalization {
    min-height: 300px;
    padding-top: 20px; }
    body .personalization .title {
      font-size: 16px; }
    body .personalization .desc {
      margin-bottom: 15px;
      font-size: 12px; }
    body .personalization .orangeBtn {
      min-width: unset;
      width: 125px;
      font-size: 13px; }
  body .topCat .categories .cat {
    width: 135px; }
    body .topCat .categories .cat img {
      width: 35px;
      height: 35px; }
    body .topCat .categories .cat h4 {
      font-size: 11px; }
  body .institutesContainer .institutes .courserBlock {
    width: 100%;
    max-height: unset;
    height: 120px;
    margin-bottom: 10px; }
    body .institutesContainer .institutes .courserBlock .startsBlock {
      margin: 0 0 0px; }
    body .institutesContainer .institutes .courserBlock .courseText {
      padding: 5px 10px; }
      body .institutesContainer .institutes .courserBlock .courseText p:first-child {
        font-size: 12px;
        margin-bottom: 0;
        max-height: 18px; }
      body .institutesContainer .institutes .courserBlock .courseText p:nth-child(2) {
        font-size: 12px; }
    body .institutesContainer .institutes .courserBlock .info {
      font-size: 10px;
      flex-wrap: wrap;
      margin: 5px 0; }
      body .institutesContainer .institutes .courserBlock .info div {
        margin-bottom: 3px; }
        body .institutesContainer .institutes .courserBlock .info div:nth-child(2) {
          margin: 0 15px 3px; }
        body .institutesContainer .institutes .courserBlock .info div img {
          width: 10px;
          height: 11px; }
    body .institutesContainer .institutes .courserBlock .price {
      font-size: 10px; } }
/*Small Screen*/
@media (min-width: 768px) and (max-width: 991px) {
  body {
    padding: 100px 0 0 0; }
    body .lightGrayBg {
      padding: 25px 0; }
    body .startsBlock {
      font-size: 8px; }
      body .startsBlock .stars i {
        font-size: 11px; }
    body .title {
      font-size: 20px; }
    body .desc {
      font-size: 11px; }
    body header {
      height: 100px; }
      body header .mr-18 {
        margin-right: 25px; }
      body header .mr-27 {
        margin-right: 25px; }
      body header .menu {
        justify-content: center; }
        body header .menu .gradientBg {
          margin-right: 0 !important;
          font-size: 13px; }
        body header .menu .searchDiv input {
          width: 310px;
          font-size: 13px; }
        body header .menu .cartDiv, body header .menu .flagImg {
          margin-top: 12px; }
        body header .menu .catLink ul {
          width: 190px; }
          body header .menu .catLink ul.sub-menu ul {
            transform: translate(20px, 0px); }
            body header .menu .catLink ul.sub-menu ul:hover {
              transform: translate(20px, 0); }
          body header .menu .catLink ul li a {
            font-size: 10px; }
    body .categoriesLinks {
      justify-content: center; }
      body .categoriesLinks li a {
        position: relative;
        padding: 0 0 5px; }
    body .sliderBg {
      min-height: 240px; }
      body .sliderBg .sliderText {
        margin-right: 15px; }
        body .sliderBg .sliderText p.titleText {
          font-size: 26px; }
        body .sliderBg .sliderText p.blackText {
          font-size: 12px; }
        body .sliderBg .sliderText .gradientBg {
          font-size: 12px; }
      body .sliderBg.guestBg {
        min-height: 240px; }
        body .sliderBg.guestBg .sliderText {
          margin-left: 150px; }
          body .sliderBg.guestBg .sliderText p.titleText {
            font-size: 23px; }
          body .sliderBg.guestBg .sliderText .blackText {
            font-size: 12px; }
          body .sliderBg.guestBg .sliderText p.grayText {
            font-size: 12px;
            margin: 5px 0 15px; }
          body .sliderBg.guestBg .sliderText .searchDiv input {
            font-size: 12px; }
          body .sliderBg.guestBg .sliderText #clockdiv .count span {
            width: 40px;
            height: 50px;
            line-height: 50px;
            font-size: 18px; }
    body .myCourses div {
      justify-content: center !important; }
      body .myCourses div > div.hi {
        margin-bottom: 15px; }
        body .myCourses div > div.hi .welcome p:first-child {
          font-size: 14px; }
        body .myCourses div > div.hi .welcome p:last-child {
          font-size: 12px; }
      body .myCourses div > div:nth-child(2) {
        justify-content: space-between !important;
        width: 100%; }
      body .myCourses div > div .courserBlock {
        margin-right: 0;
        margin-bottom: 15px; }
    body .recommended .nav-pills .nav-item {
      margin-right: 15px;
      margin-bottom: 7px; }
      body .recommended .nav-pills .nav-item .nav-link {
        font-size: 14px; }
    body .recommended .course {
      max-width: none;
      max-height: none;
      width: 24%; }
      body .recommended .course .courseName {
        font-size: 12px; }
    body .mapCourses #map {
      width: 66%;
      height: 255px; }
    body .mapCourses .courses {
      width: 30%;
      height: 255px; }
      body .mapCourses .courses .courserBlock {
        max-height: 80px !important;
        height: 80px !important;
        margin-bottom: 10px !important; }
        body .mapCourses .courses .courserBlock .courseText p:first-child {
          font-size: 10px;
          margin-bottom: 0px;
          max-height: 28px; }
        body .mapCourses .courses .courserBlock .courseText p:nth-child(2) {
          margin-bottom: 0;
          margin-top: 3px; }
    body #owl-demo1 .item, body #owl-demo2 .item, body #owl-demo3 .item {
      margin: auto;
      width: 200px !important; }
    body .register {
      height: auto;
      padding: 30px 0; }
      body .register .regText {
        margin: 0; }
        body .register .regText .title {
          font-size: 20px; }
    body .personalization {
      min-height: 300px;
      padding-top: 20px; }
      body .personalization .desc {
        font-size: 13px; }
      body .personalization .orangeBtn {
        font-size: 13px; }
    body .topCat .categories .cat {
      width: 157px;
      height: 147px; }
      body .topCat .categories .cat img {
        width: 35px;
        height: 35px; }
      body .topCat .categories .cat h4 {
        font-size: 12px; }
      body .topCat .categories .cat div {
        font-size: 11px; }
      body .topCat .categories .cat.viewAll h4 {
        font-size: 12px !important; }
    body .institutesContainer .institutes .courserBlock {
      max-height: unset;
      height: 135px; }
      body .institutesContainer .institutes .courserBlock .startsBlock {
        margin: 0 0 0px;
        font-size: 10px; }
      body .institutesContainer .institutes .courserBlock .courseText {
        padding: 5px 10px; }
        body .institutesContainer .institutes .courserBlock .courseText p:first-child {
          font-size: 13px; }
        body .institutesContainer .institutes .courserBlock .courseText p:nth-child(2) {
          font-size: 13px; }
      body .institutesContainer .institutes .courserBlock .info {
        font-size: 11px;
        flex-wrap: wrap;
        margin: 5px 0; }
        body .institutesContainer .institutes .courserBlock .info div {
          margin-bottom: 3px; }
          body .institutesContainer .institutes .courserBlock .info div:nth-child(2) {
            margin: 0 15px 3px; }
          body .institutesContainer .institutes .courserBlock .info div img {
            width: 10px;
            height: 11px; }
      body .institutesContainer .institutes .courserBlock .price {
        font-size: 11px; } }
/*Medium Screen*/
@media (min-width: 992px) and (max-width: 1199px) {
  .mr-18 {
    margin-right: 11px; }

  .mr-27 {
    margin-right: 16px; }

  header .menu .catLink, header .menu .gradientBg {
    font-size: 13px; }
  header .menu .searchDiv input {
    width: 260px;
    font-size: 13px; }

  .categoriesLinks {
    justify-content: center; }
    .categoriesLinks li a {
      position: relative;
      padding: 0 0 5px; }

  .sliderBg .sliderText {
    margin-right: 55px; }

  .courserBlock {
    max-width: 255px; }

  .recommended .course {
    max-width: 220px; }

  .register .regText {
    margin: 0 auto 0 210px; }

  .personalization {
    min-height: 500px;
    padding-top: 60px; }

  .topCat .categories .cat {
    width: 215px;
    height: 160px; } }
/*Larger Screen*/
/* End Media Query */

/*# sourceMappingURL=style.css.map */
